<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Nami.Exchange</title>
    <style type="text/css">
        * { margin: 0; padding: 0; font-size: 16px; font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; line-height: 1.65; }
        img { max-width: 100%; margin: 0 auto; display: block; }
        body,
        .body-wrap { width: 100% !important; height: 100%; background: #f8f8f8; color: white}
        a {color: white !important;}
        .button {background: #244362;color: white; border-radius: 20px;width: 230px;height: 40px; line-height: 40px;text-align: center;display: block;margin: 0 auto;font-weight: 600}
        p, ul, ol { font-size: 16px; font-weight: normal; margin-bottom: 10px; }
        h1 {font-size: 24px}
        .container { display: block !important; clear: both !important; margin: 0 auto !important; max-width: 600px !important; }
        .container table { width: 100% !important; border-collapse: collapse; }
        .container .masthead {background: #71bc37; color: white; }
        .container .footer {background: #007088;}
        .container .content { background: #2980a6; padding: 30px; color: white;text-align: center}
        .container .content.footer p { margin-bottom: 0; color: #fff; text-align: center; font-size: 14px; }
        .copyright {padding: 30px;color: #fff;text-align: center}
        .copyright p{margin: 0}
    </style>
</head>
<body class="">
<table class="body-wrap" cellpadding="0" cellspacing="0">
    <tr>
        <td class="container">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" class="masthead">
                        <img src="https://auth.bitbattle.io/imgs/banner_email_nami.jpg" />
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <div>
                            <h1>
                                Deposit/Withdraw VNDC transaction
                            </h1>
                            <br />
                            <br />
                            <div style="text-align: left">
                                <p>
                                    Hello,<br><br>
                                    Wallet address <strong>{{address}}</strong> has just {{actionText}} <strong>{{value}} VNDC</strong> at Nami.Exchange
                                    <br/>

                                    <br/>
                                </p>
                                <p><strong>VNDC statistics at Nami.Exchange</strong></p>

                                <table>
                                    <tr>
                                        <th>Type</th>
                                        <th>Value</th>
                                    </tr>
                                    <tr>
                                        <td>Tổng VNDC đã nạp</td>
                                        <td><strong>{{totalDeposit}} VNDC</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Tổng VNDC đã rút</td>
                                        <td><strong>{{totalWithdrawal}} VNDC</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Tổng VNDC trên hệ thống</td>
                                        <td><strong>{{totalAsset}} VNDC</strong></td>
                                    </tr>
                                </table>
                                <p>Automated message. Please do not reply!</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="container">
            <table cellpadding="0" cellspacing="0" class="footer">
                <tr>
                    <td class="copyright" align="center">
                        <p>Copyright © 2020 <a href="https://nami.exchange" target="_blank" style="color: white">Nami Exchange</a>. All right reserved.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
